#tablaingreso{
 background-color:rgba(0, 128, 0, 0.411);
 color: rgb(3, 3, 3);
 position: absolute ;
 left: 30%;
 top: 100px;
}
#tabladatos{
 background-color:rgba(0, 128, 0, 0.411);
 color: rgb(3, 3, 3);
 position: absolute ;
 left: 56%;
 margin-left: -300px;
 top:300px;
}

#datos{
    border-color: rgba(86, 253, 86, 0.979);
}
#datos th {
  background-color: #333;
  color: #fff;
}
#datos tr:nth-child(odd) {
  background-color: rgba(96, 189, 111, 0.301);
}
#datos tr:nth-child(even) {
  background-color: #79fd5f60;
}

#datos>tbody>#tablaTotal td{
border: 1px solid #000;
border-collapse: collapse;
}